/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
    font-family: Helvetica, Arial, sans-serif;
}

.btn-custom {
    background-color: #04b4bd !important;
    color: white !important;
    border-color: #04b4bd;
}
.notrips{
    height: 50 !important;
    width: 30% !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: white !important;
    border-color: #04b4bd !important;
    background-color: #04b4bd !important;
}

.nav-tabs .nav-link {
    border: 1px solid #04b4bd !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-custom {
    background: transparent !important;
    box-shadow: none !important;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: lime; /* Just to visualize the extent */
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #04b4bd50;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #04b4bd !important;
}

/* .form-control:not(:focus)~.form-notch div:first-child {
    box-shadow: none !important;
    clip-path: inset(-8px 0px -8px -8px);
}

.form-control:not(:focus)~.form-notch div:nth-child(2) {
    box-shadow: none !important;
    clip-path: inset(0px 0px -8px 0px);
}

.form-control:not(:focus)~.form-notch div:last-child {
    box-shadow: none !important;
    clip-path: inset(-8px -8px -8px 0px);
} */

.form-control:focus~.form-notch .form-notch-leading {
    border-color: #04b4bd !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(4, 180, 189, 0.6) !important;
    clip-path: inset(-8px 0px -8px -8px);
}

.form-control:focus~.form-notch .form-notch-middle {
    border-bottom-color: #04b4bd !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(4, 180, 189, 0.6) !important;
    clip-path: inset(0px 0px -8px 0px);
}

.form-control:focus~.form-notch .form-notch-trailing {
    border-color: #04b4bd !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(4, 180, 189, 0.6) !important;
    clip-path: inset(-8px -8px -8px 0px);
}

.form-control:focus~.form-label {
    color: #04b4bd !important;
}

input:focus {
    border-color: #04b4bd !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(4, 180, 189, 0.6) !important;
}