/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
    font-family: Helvetica, Arial, sans-serif;
}

.btn-custom {
    background-color: #04b4bd !important;
    color: black !important;
    border-color: #04b4bd;
}